/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* Goole Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&display=swap');

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Montserrat', sans-serif;
}
*{
  font-family: 'Montserrat', sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* Theme Css Start */

/* user menu Start*/
.user-menu-wrap {
  position: relative;
}
.menu-container {
  visibility: hidden;
  opacity: 0;
}
.menu-container.active {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.user-menu {
  position: absolute;
  right: -22px;
  background-color: #fff;
  width: 256px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin-top: 20px;
  z-index: 99999;
}
.user-menu .profile-highlight {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  padding: 12px 16px;
  margin-bottom: 6px;
}
.user-menu .profile-highlight img {
  width: 48px;
  height: 48px;
  border-radius: 25px;
  object-fit: cover;
}
.user-menu .profile-highlight .details {
  display: flex;
  flex-direction: column;
  margin: auto 12px;
}
.user-menu .profile-highlight .details #profile-name {
  font-weight: 600;
  font-size: 16px;
}
.user-menu .profile-highlight .details #profile-footer {
  font-weight: 300;
  font-size: 14px;
  margin-top: 4px;
}
.user-menu .footer {
  border-top: 1px solid #e0e0e0;
  padding-top: 6px;
  margin-top: 6px;
}
.user-menu .footer .user-menu-link {
  font-size: 13px;
}
.user-menu .user-menu-link {
  display: flex;
  text-decoration: none;
  color: #333;
  font-weight: 400;
  font-size: 14px;
  padding: 12px 16px;
}
.user-menu .user-menu-link div {
  margin: auto 10px;
}
.user-menu .user-menu-link:hover {
  background-color: #f5f5f5;
  color: #333;
}
.user-menu:before {
  position: absolute;
  top: -16px;
  right: 45px;
  display: inline-block;
  content: "";
  border: 8px solid transparent;
  border-bottom-color: #e0e0e0;
}
.user-menu:after {
  position: absolute;
  top: -14px;
  right: 45px;
  display: inline-block;
  content: "";
  border: 7px solid transparent;
  border-bottom-color: #fff;
}
/* user menu End*/

/* Header Css Start */
.header_sevtion > nav {
  box-shadow: 0px 2px 10px 0px #ccc;
}
.header_sevtion > nav .user_dashboard > span{}
.header_sevtion > nav .hide{
  display: none;
}
.header_sevtion > nav ul > li > a{
  font-size: 18px;
  font-weight: 500;
  color: #000 !important;
}
.header_sevtion > nav{}
.header_sevtion > nav{}

/* Header Css End */
/* Button Start  */
.billto_btn{
  background-color: #FFB317;
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  padding: 5px 30px;
}
/* Button End  */
/* Title Start */
.h2_title{
  color: #FFB317;
  font-size: 36px;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}
p{
  margin: 0;
  font-size: 14px;
  color: #000;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}
/* Title End */
/* Create Start  */
.create_section div{
  text-align: center;
}
.create_section div span{
  border-radius: 100%;
  background-color: #EBEBEB;
  font-size: 25px;
}
.create_section span{
  height: 80px;
  width: 80px;
}
.create_section{}
.create_section{}
.create_section{}
/* Create End  */

/* Footer Css Start */
.footer_section p{
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #fff;
}
.footer_section p a{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}
/* Header Css End */

/* Bill Page Banner Section Start */
.h3_title{
  color: #fff;
}
.banner_footer{}
.banner_footer span{
  background-color: #fff;
  border-radius: 10px;
}
.banner_footer a{
  text-decoration: none;
  color: #fff;
}
/* .invoice_section .product{
  display: grid;
  grid-template-columns: auto 13% 13% 12% 7%;
} */
.add-field{
  background-color: #fff;
  cursor: pointer;
  color: #FFB317;
}
.send-invoice{
  background-color: #FFB317;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.send-downlod{
  background-color: #737373;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
/* Bill Page Banner Section End */

/* Image Upload Start */
.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 0 0 23px;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  /* border-radius: 100%; */
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all .2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label i {
  color: #757575;
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
  font-size: 25px;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 100px;
  position: relative;
  /* border-radius: 100%; */
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.invoice_section .tk{
  color: #FFB317;
}

/* Image Upload End */
/* Sign up page Start */
.sub_nav p{
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.sub_nav p a{
  text-decoration: none;
  color: #000;
  font-size: 18px;
}
.form_title{
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}
.form_sign_in label{
  color: #898989;
}
.already_billto a{
  color: #FFB317;
  font-family: 'Montserrat', sans-serif;
}
.dashboard .dashboard_link a{
  color: #898989;
  font-size: 18px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  line-height: 36px;
  font-weight: 400;
  border-right: 2px solid #898989;
  padding: 0 5px;
  border-radius: 0;
  display: unset;
}
.dashboard .dashboard_link a:nth-last-child(1){
  border-right: 0;
}
.dashboard_menu ul li a.nav-link{
  background-color: #CBF1FF;
  border:1px solid #FFB317;
  color: #898989;
  font-size: 14px;
}
/* Sign up page End */
/* Dashboard page Start */
.invoice_table thead th{
  width: 20%;
  text-align: center;
}
.invoice_table tbody td{
  text-align: center;
}
/* Dashboard page End */

/* Setting page Start */
.setting .avatar-upload .avatar-preview{
  height: 192px;
}
.setting button{
  font-size: 14px;
}
/* Setting page End */
/* Reports page Start */
.reports .invoice_table thead th{
  width: 16.66%;
}
.reports .invoice_table tbody tr{
  border-bottom: 1px solid rgba(34, 34, 34, 0.418);
}
.reports .invoice_table tbody tr:nth-last-child(1){
  border-bottom: 1px solid #FFB317 !important;
}
.search_btn{
  font-size: 14px;
}
/* Reports page End */

/* Responsive css */
@media screen and (max-width: 480px) {
  .invoice_section .product{
    grid-template-columns: auto;
  }
  .invoice_table{
    font-size: 9px;
  }
}

